<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>


    {{>links}}


</head>
<body>

    

   
    <div class="container-fluid content">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
            <div class="row">

                  
                <div class="content_left d-flex align-items-center  justify-content-center">
                
                    <figure class="figure">
                        <img src="images/2663517.jpg" class="figure-img img-fluid rounded" alt="" style="width: 30rem; height:auto;">
                        <figcaption class="figure-caption text-xs-end"><a href='https://www.freepik.com/vectors/404-page'>404 page vector created by pikisuperstar - www.freepik.com</a></figcaption>
                    </figure>
                
                    
                    <p><b> Error Page Not Found</b></p>
                    <a href="/"><button>Home</button></a>
                </div>
                  
            </div>
            
            </div>
        </div>     
    </div>
    
    
</body>
</html>