<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>


    {{>links}}


</head>
<body>

    {{>navbar}}

   
    <div class="container-fluid content">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
            <div class="row">

                  
                <div class="col-md-6 col-12 content_right">
                
                    <figure class="figure">
                        <img src="images/5961108.jpg" class="figure-img img-fluid rounded" alt="">
                        <figcaption class="figure-caption text-xs-end"><a href='https://www.freepik.com/vectors/multitasking'>Multitasking vector created by storyset - www.freepik.com</a></figcaption>
                    </figure>
                </div>

                <div class="col-md-6 col-12 content_left">
                    
                    <h1>I am a MERN stack and Java Full Stack</h1>
                    <a href="https://www.github.com/sohel-79"><button>Visit Github Profile</button></a>
                </div>
                  
            </div>
            
            </div>
        </div>     
    </div>
    
    {{>footer}}
</body>
</html>